.bg-img {
    background-image: url("https://assets.codepen.io/12341/internal/screenshots/pens/LveDx.default.png?fit=cover&format=auto&ha=false&height=720&quality=75&v=2&version=1533758121&width=1279");
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 5%;
    overflow: scroll;
}

.center {
    margin: 0 auto;
}

.contentBox {
    opacity: .7;
    border-radius: .5rem!important;
}

textarea.form-control {
    border-radius: .5rem!important;
    opacity: .7;
}

.centerPlusMTop {
    margin: 3% auto 0;
}

.centerPlusMBottom {
    margin: 0 auto 3%;
}

.deletePost {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding: 0;
}

#deleteButton {
    border: none;
    padding: 0;
    margin: 0;
    height: 25px;
    width: 30px;
    background-color: transparent;
}

.vote {
float: left;
}

#voteNum1 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    padding: 0;
    margin-left: 10px;
}

#voteNum2 {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    padding: 0;
    margin-left: 25px;
}

#editButton {
    margin-top: 5px;
}

#editButton:hover {
    cursor: pointer;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
    border-bottom: 20px solid #0e8f31;
    text-align: center;
    position: relative;
    margin-left: 10px; 

}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
    border-top: 20px solid #ab1d13;
    text-align: center;
    position: relative;
    float: left;
}

.triangle-up:hover {
    cursor: pointer;
}

.triangle-down:hover {
    cursor: pointer;
}



